[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
mpegdash = "*"
m3u8 = "*"
terminal-utils = {editable = true,git = "git@github.com/vphpersson/terminal_utils.git"}
pyutils = {editable = true,git = "git@github.com/vphpersson/pyutils.git"}

[requires]
python_version = "3.8"
