[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
mpegdash = "*"
m3u8 = "*"
terminal_utils = {file = "https://github.com/vphpersson/terminal_utils/tarball/master"}

[requires]
python_version = "3.8"
